<!DOCTYPE html>  <!--执行标准html-->
<html lang = "en">
    <head>
        <mata charset = "UTF-8" />  <!--自闭和标签--> 
            <!--标签属性 charset="UTF-8" 页面编码格式
                http-equiv ="Refresh" Content ="30"  30秒刷新一次
                url ="http://baidu.com"  跳转到指定网址
                name="keywordes" content="关键字
                name="description" content="网站描述"
                http-equiv = "X-UA-Compatible" content ="IE=edge"
                                只览器有效，以最新IE版本执行
            -->
        <title>标题显示</title>   <!--对称闭合标签-->
        <link rel = "shortcut icon" href="" />  <!--标题图标-->
        <link rel ="stylesheet" href="1.css" /> <!--引用css文件
        <style>
        </style>   -->

    </head>
    <body>
        <div>数量咖啡机刻录机撒附近</div>
    </body>
</html>
